.gitlab/**                                  @project-tick/maintainers
.lefthook/**                                @project-tick/maintainers
branding/**                                 @project-tick
scripts/**                                  @project-tick/developers
updater/**                                  @project-tick/developers
buildconfig/**                              @project-tick/developers
cmake/**                                    @project-tick/developers
crashreporter/**                            @project-tick/developers
flatpak/**                                  @project-tick/developers
launcher/**                                 @project-tick/developers
nix/**                                      @project-tick/developers
plugins/*                                   @project-tick/developers
plugins/BackupSystem/**                     @project-tick/developers
plugins/DesktopNotifier/**                  @project-tick/developers
plugins/DiscordRPC/**                       @project-tick/developers
plugins/Filelink/**                         @project-tick/developers
plugins/LinuxPerf/**                        @project-tick/developers
plugins/NewsViewer/**                       @project-tick/developers
plugins/NVIDIAPrime/**                      @project-tick/developers
plugins/PackPortal/**                       @project-tick/developers
plugins/SkinManager/**                      @project-tick/developers
plugins/SystemTray/**                       @project-tick/developers
plugins/staging/*                           @project-tick/developers
plugins/staging/ErrorOracle/**              @project-tick/developers
plugins/staging/GitVersioning/**            @project-tick/developers
plugins/staging/OfflineWiki/**              @project-tick/developers
plugins/staging/PackUpdater/**              @project-tick/developers
