./*                                         @project-tick/developers/project-tick/projects/meshmc
.gitlab/**                                  @project-tick/maintainers/developer-operations-ci-development
.lefthook/**                                @project-tick/maintainers/developer-operations-ci-development
branding/**                                 @project-tick/design/app-branding/meshmc
scripts/**                                  @project-tick/developers/project-tick/projects/meshmc/scripts
updater/**                                  @project-tick/developers/project-tick/projects/meshmc/updater
buildconfig/**                              @project-tick/design/app-branding/meshmc
cmake/**                                    @project-tick/maintainers/developer-operations-ci-development
crashreporter/**                            @project-tick/developers/project-tick/projects/meshmc/crash-reporter
flatpak/**                                  @project-tick/developers/project-tick/projects/meshmc/flatpak
launcher/*                                  @project-tick/developers/project-tick/projects/meshmc/launcher
launcher/icons/**                           @project-tick/developers/project-tick/projects/meshmc/launcher/icon-subsystem
launcher/java/**                            @project-tick/developers/project-tick/projects/meshmc/launcher/java-subsystem
launcher/launch/**                          @project-tick/developers/project-tick/projects/meshmc/launcher/minecraft-launch-subsystem
launcher/meta/**                            @project-tick/developers/project-tick/projects/meshmc/launcher/metadata-subsystem
launcher/minecraft/**                       @project-tick/developers/project-tick/projects/meshmc/launcher/minecraft-subsystem
launcher/modplatform/**                     @project-tick/developers/project-tick/projects/meshmc/launcher/modplatform-subsystem
launcher/mojang/**                          @project-tick/developers/project-tick/projects/meshmc/launcher/mojang-subsystem
launcher/net/**                             @project-tick/developers/project-tick/projects/meshmc/launcher/network-subsystem
launcher/news/**                            @project-tick/developers/project-tick/projects/meshmc/launcher/news-subsystem
launcher/notifications/**                   @project-tick/developers/project-tick/projects/meshmc/launcher/notifications-subsystem
launcher/pathmatcher/**                     @project-tick/developers/project-tick/projects/meshmc/launcher/pathmatcher-subsystem
launcher/plugin/**                          @project-tick/developers/project-tick/projects/meshmc/launcher/mmco-plugin-subsystem
launcher/resources/**                       @project-tick/design/app-branding/meshmc
launcher/screenshots/**                     @project-tick/developers/project-tick/projects/meshmc/launcher/screenshots-subsystem
launcher/settings/**                        @project-tick/developers/project-tick/projects/meshmc/launcher/settings-subsystem
launcher/tasks/**                           @project-tick/developers/project-tick/projects/meshmc/launcher/tasks-subsystem
launcher/testdata/**                        @project-tick/maintainers/developer-operations-ci-development
launcher/tools/**                           @project-tick/developers/project-tick/projects/meshmc/launcher/tools-subsystem
launcher/translations/**                    @project-tick/developers/project-tick/projects/meshmc/launcher/translations-subsystem
launcher/ui/**                              @project-tick/design/app-branding/meshmc @project-tick/developers/project-tick/projects/meshmc/launcher/ui-subsystem
launcher/updater/**                         @project-tick/developers/project-tick/projects/meshmc/launcher/updater-subsystem
nix/**                                      @project-tick/developers/project-tick/projects/meshmc/nix
plugins/*                                   @project-tick/developers/project-tick/projects/meshmc/plugins
plugins/BackupSystem/**                     @project-tick/developers/project-tick/projects/meshmc/plugins/all-ga-plugins/languages/cxx-lang/backupsystem
plugins/DesktopNotifier/**                  @project-tick/developers/project-tick/projects/meshmc/plugins/all-ga-plugins/languages/cxx-lang/desktopnotifier
plugins/DiscordRPC/**                       @project-tick/developers/project-tick/projects/meshmc/plugins/all-ga-plugins/languages/cxx-lang/discordrpc
plugins/Filelink/**                         @project-tick/developers/project-tick/projects/meshmc/plugins/all-ga-plugins/languages/cxx-lang/filelink
plugins/LinuxPerf/**                        @project-tick/developers/project-tick/projects/meshmc/plugins/all-ga-plugins/languages/cxx-lang/linuxperf
plugins/NewsViewer/**                       @project-tick/developers/project-tick/projects/meshmc/plugins/all-ga-plugins/languages/cxx-lang/newsviewer
plugins/NVIDIAPrime/**                      @project-tick/developers/project-tick/projects/meshmc/plugins/all-ga-plugins/languages/cxx-lang/nvidiaprime
plugins/PackPortal/**                       @project-tick/developers/project-tick/projects/meshmc/plugins/all-ga-plugins/languages/cxx-lang/packportal
plugins/SkinManager/**                      @project-tick/developers/project-tick/projects/meshmc/plugins/all-ga-plugins/languages/cxx-lang/skinmanager
plugins/SystemTray/**                       @project-tick/developers/project-tick/projects/meshmc/plugins/all-ga-plugins/languages/cxx-lang/systemtray
plugins/GitVersioning/**                    @project-tick/developers/project-tick/projects/meshmc/plugins/all-ga-plugins/languages/cxx-lang/gitversioning
plugins/OfflineWiki/**                      @project-tick/developers/project-tick/projects/meshmc/plugins/all-ga-plugins/languages/cxx-lang/offlinewiki
plugins/staging/*                           @project-tick/developers/project-tick/projects/meshmc/plugins/staging
plugins/staging/ErrorOracle/**              @project-tick/developers/project-tick/projects/meshmc/plugins/staging/all-non-ga-plugins/languages/cxx-lang/errororacle
plugins/staging/PackUpdater/**              @project-tick/developers/project-tick/projects/meshmc/plugins/staging/all-non-ga-plugins/languages/cxx-lang/packupdater
plugins/staging/MercurialVersioning/**		@project-tick/developers/project-tick/projects/meshmc/plugins/staging/all-non-ga-plugins/languages/c-lang/mercurialversioning
